.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
#logo{
    height: 20px;

}
.search-bar{
    display: flex;
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
    text-align: center;
    max-width: 37rem;
}
.searchinput{
 width: 100%;  
 font-size: inherit;
 padding: .4em;
 border: 1px solid #777;
 border-top-right-radius: 0;
 border-top-left-radius: 0;
 color: #777;
}
.searchicon{
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid#777;
    border-left: none;
    background-color: #f8f8f8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor:pointer;
    }
    .searchicon:hover{
        background-color: #f0f0f0;
    }
.menuicons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    gap: 1.5rem;
}
